{% extends 'customers/base.html' %}

{% block content %}
  
    <div class="nav">
        <a href="{% url 'create' %}">Create</a><p>Customer List</p>
    </div>
   
    <table>
        <tr>
            <th>Customer Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
        </tr>
            {% for customer in customers%}
                <tr>
                    <td><p>{{customer.id}}</p></td>
                    <td><p>{{customer.first_name}}</p></td>
                    <td><p>{{customer.last_name}}</p></td>
                    <td><p>{{customer.phone}}</p></td>
                    <td><p><a href="{% url 'detail' customer.id %}">Details</a></p></td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    
{% endblock %}